 
     // Device Variation
     $hd: 1921px; // Large Device Than 1920
     $xxl: 1500px; // Extra large Device
     $ml: 1399px; // Medium Large Device
     $xl: 1299px; // Medium Large Device
     $lg: 1199px; // Large Device (Laptop)
     $md: 991px; // Medium Device (Tablet)
     $sm: 767px; // Small Device
     $xs: 575px; // Extra Small Device
     $vxs: 375px; // Extra Small Device
     
